<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sivaram.introapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Intro1" />
        <activity android:name=".MainScreen" />
        <activity android:name=".Intro2" />
        <activity android:name=".Intro3" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Intro4" />
        <activity android:name=".Intro5" />
        <activity android:name=".Intro6" />
        <activity android:name=".Intro7" />
        <activity android:name=".Intro8" />
        <activity android:name=".Intro9"></activity>
    </application>

</manifest>